<%= turbo_frame_tag comment do %>
  <%= form_with model: [keyboard, comment] do |f| %>
    <br>
    <%= f.text_area :body, class: "px-5 py-2 w-full bg-slate-100 rounded-lg", rows: 3, placeholder: "コメントフォーム" %>
    <br>
    <div class="ml-1">
      <button type="submit" class="px-2 py-1 text-lg text-center text-red-500 border-2 border-red-500 rounded rounded-lg shadow-lg hover:bg-red-500 hover:text-white hover:border-transparent">
        送信<i class="fa-regular fa-fw fa-paper-plane"></i>
      </button>
    </div>
  <% end %>
<% end %>
