<div class="flex items-center justify-center ">
  <%= form_with url: admin_keyboards_search_path, method: :get do |f| %>
    <div class="flex border border-blue-400 rounded">
      <%= f.text_field :keyword, value: @model, class: "px-4 py-2 w-80" %>
      <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 hover:bg-blue-700"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
    </div>
  <% end %>
</div>
