<br>
<div class="p-6 mx-auto bg-white rounded-lg shadow-lg max-w-screen-lg">
  <h1 class="text-4xl font-bold text-center mt-9">使い方</h1>

  <h2 class="mb-2 text-2xl font-bold">診断機能について</h2>
    <p class="text-xl mb-7">トップページにある「診断する」ボタンから診断画面に移動します。</p>
    <p class="text-xl mb-7">質問事項を確認し入力フォーム内のセレクトボックスから適当なものを選択してください。※ 質問１のみ必須項目となっていますのでご注意ください。</p>
    <p class="text-xl mb-7">質問事項に回答し、「診断する」ボタンを押すと選択した条件に合ったキーボードが表示されます。ただし、質問１に回答していない場合や条件に合ったキーボードが見つからない場合は表示されません。</p>
    <p class="text-xl mb-7">表示されたキーボードはヘッダーにある「診断履歴」ボタンからいつでも確認することができます。</p>

  <h2 class="mb-2 text-2xl font-bold">検機能索について(ログイン前でも使用可)</h2>
    <p class="text-xl mb-7">ヘッダーの左上部にある検索ボックスにキーボード名や欲しい機能などの必要事項を入力してください。</p>
    <p class="text-xl mb-7">3文字以上入力するとオートコンプリートが適用され、特定のキーボードを選択することも可能です。</p>
    <p class="text-xl mb-7">キーボード情報が入力されると条件に合ったキーボードが見つかった場合はそれらが表示されますが、見つからなかった場合は 「条件に合うものは見つかりませんでした。」と表示されます。</p>
</div>
