<div class='top-wrapper'>
  <div class="flex items-center justify-center bg-cover bg-center h-[calc(100vh-134px)]">
    <div class="text-center">
      <% if logged_in? %>
        <%= button_to 'キーボード診断を行う', new_diagnosis_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white text-4xl py-12 px-16 border border-slate-500 hover:border-transparent rounded-lg" %>
      <% else %>
        <%= button_to '使い方を見る', how_to_use_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-8 px-12 text-4xl hover:border-transparent rounded-lg" %>
      <% end %>
    </div>

    <% unless logged_in? %>
      <div class="flex justify-center mt-4 space-x-4">
        <%= button_to  t('defaults.login'), login_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-8 px-12 text-4xl hover:border-transparent rounded-lg" %>
        <%= button_to 'ゲストログイン', guest_login_path, method: :post, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-8 px-12 text-4xl hover:border-transparent rounded-lg" %>
      </div>
    <% end %>
  </div>
</div>
