<div class='top-wrapper'>
  <div class="flex flex-col items-center justify-center bg-cover overflow-hidden bg-center h-[calc(100vh-134px)]">
    <% if logged_in? %>
      <%= button_to 'キーボード診断', new_diagnosis_path, method: :get, class: "transition-colors duration-500 w-80 bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white text-3xl py-8 px-10 rounded-lg mb-8" %>
    <% else %>
        <%= button_to t('defaults.login'), login_path, method: :get, class: "transition-colors duration-300 mb-10 w-80 bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-6 px-10 text-4xl rounded-lg" %>
        <%= button_to 'ゲストログイン', guest_login_path, method: :post, class: "transition-colors duration-300 mb-10 w-80 bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-6 px-10 text-3xl rounded-lg" %>
        <%= button_to '使用方法', how_to_use_path, method: :get, class: "transition-colors duration-300 bg-transparent w-80 hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-6 px-10 text-4xl rounded-lg mb-8" %>
    <% end %>
  </div>
</div>
