<div class='top-wrapper'>
  <div class="flex items-center justify-center bg-cover bg-center h-[calc(100vh-134px)]">
    <% if logged_in? %>
      <%= button_to 'キーボード診断を行う', new_diagnosis_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white text-4xl py-12 px-16 border border-slate-500 hover:border-transparent rounded-lg" %>
    <% else %>
    <div class="flex space-x-4">
      <%= button_to  t('defaults.login'), login_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-8 px-12 text-4xl hover:border-transparent rounded-lg" %>
      <%= button_to 'ゲストログイン', login_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-8 px-12 text-4xl hover:border-transparent rounded-lg" %>
    </div>
    <% end %>
  </div>
    <%= link_to '取得画面に移動する', admin_keyboards_search_path, method: :get %>
</div>
