<div class='top-wrapper'>
  <div class='top-inner-text'>
  <%= button_to 'キーボード診断を行う', new_diagnosis_path, method: :get, class: "bg-transparent hover:bg-slate-500 bg-white shadow-lg text-slate-700 font-semibold hover:text-white py-12 px-16 border border-slate-500 hover:border-transparent rounded-lg" %>
  <%= button_to '取得画面に移動する', admin_keyboards_search_path %>
  </div>
</div>
