<footer class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-8 mx-auto">
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <div class="flex mt-3 -mx-2 sm:mt-0">
        <%= link_to "#", class: "mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300", "aria-label" => "Teams" do %>
          お問い合わせフォーム
        <% end %>

        <%= link_to "#", class: "mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300", "aria-label" => "Privacy" do %>
          プライバシーポリシー
        <% end %>

        <%= link_to "#", class: "mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300", "aria-label" => "Cookies" do %>
          利用規約
        <% end %>
      </div>
    </div>
  </div>
</footer>
