<%= form_with url: keyboards_path, method: :get, remote: true do |f| %>
  <div class="flex items-center justify-center ">
    <div class="flex border-2 border-gray-200 rounded">
      <%= f.text_field :search, id: "keyboard_search",class: "px-4 py-2 w-80", autocomplete: 'off', placeholder: "Search keyboards" %>
      <button type="submit" class="px-4 text-white bg-gray-600 hover:bg-slate-500 ">検索</button>
      <div id="keyboard_results" class="absolute z-10 bg-white w-96 mt-11"></div>
    </div>
  </div>
<% end %>
