  <div class="top-0 mb-2 left-0 w-64 h-screen">
     <div class="h-full px-3 py-4 overflow-y-auto bg-white">
    <div class="text-xl text-center text-bold">
     ランキング
    </div>
        <ul class="text-lg font-medium space-y-2">
           <li>
              <a href="#" class="flex items-center p-2 rounded-lg text-slate-700">
                 <span class="flex-1 ms-3 whitespace-nowrap">お気に入り数</span>
              </a>
           </li>
           <li>
              <a href="#" class="flex items-center p-2 rounded-lg text-slate-700">
                 <span class="flex-1 ms-3 whitespace-nowrap">コメント数</span>
              </a>
           </li>
           <li>
              <a href="#" class="flex items-center p-2 rounded-lg text-slate-700">
                 <span class="flex-1 ms-3 whitespace-nowrap">診断表示数</span>
              </a>
           </li>
        </ul>
     </div>
  </div>
