<div class="grid grid-cols-3 gap-4">
  <% @keyboards.each do |keyboard| %>
    <div class="p-4 border rounded-md">
      <h2 class="text-lg font-bold"><%= keyboard.model %></h2>
      <p><%= image_tag keyboard.image %></p>
      <p>価格: <%= keyboard.price %>円</p>
      <%= link_to "ここをクリックすると詳細に飛ぶ", keyboard_path(keyboard) %>
    </div>
  <% end %>
</div>
