<% keyboards.each do |keyboard| %>
  <div class="m-2">
    <%= button_to keyboard_path(keyboard), method: :get, class: "rounded-md" do %>
      <div class="relative text-gray-700 bg-white shadow-lg hover:bg-slate-100 w-72 rounded-xl bg-clip-border">
        <div class="relative flex items-center justify-center h-56 mx-2 mt-2 overflow-hidden bg-white shadow-lg text-slate-700 rounded-xl bg-clip-border">
          <%= image_tag keyboard.medium_image_urls.first, size: '180' %>
        </div>
        <div class="h-40 p-3 text-center w-72">
          <div class="block font-sans text-sm antialiased font-semibold leading-snug tracking-normal">
            <%= keyboard.name %>
            <br>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
