<div class="search-box">
  <%= form_with url: keyboards_search_path, method: :get, class: "space-y-4" do |f| %>
    <div class="flex items-center p-2 border space-x-4 rounded-md">
      <%= f.text_field :keyword, value: @model, class: "form-input flex-1" %>
      <%= f.submit '製品名を検索', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
