<h1 class="mt-4 text-4xl font-bold">検索結果</h1>
<div class="mt-4">
  <!-- ページネーション -->
  <%= paginate @keyboards %>
  <!-- 掲示板 -->
    <% if @keyboards.any? %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
        <%= render 'keyboards/keyboard', keyboards: @keyboards %>
      </div>
    <% else %>
      <div class="flex flex-col h-screen">
        <p class="mt-4 text-xl">条件に合うものは見つかりませんでした。</p>
      </div>
    <% end %>
  <!-- ページネーション -->
  <%= paginate @keyboards %>
</div>
