<h1 class="pt-6 pl-24 text-4xl font-bold text-slate-700">検索結果</h1>
<div class="pt-4 pb-8 pl-3 pr-3">
  <!-- ページネーション -->
  <div class="flex justify-center">
    <%= paginate @keyboards %>
  </div>
  <!-- 掲示板 -->
  <% if @keyboards.any? %>
    <div class="flex justify-center">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 4xl:grid-cols-6">
        <%= render 'keyboards/keyboard', keyboards: @keyboards %>
      </div>
    </div>
  <% else %>
    <div class="flex flex-col h-screen">
      <p class="mt-4 text-xl">条件に合うものは見つかりませんでした。</p>
    </div>
  <% end %>
  <!-- ページネーション -->
  <div class="flex justify-center">
    <%= paginate @keyboards %>
  </div>
</div>
