<h1 class="pt-6 text-4xl font-bold text-center text-slate-700">お気に入り数ランキング</h1>
  <div class="flex justify-center">
    <div class="grid grid-cols-1">
      <%= render 'keyboards/keyboard', keyboards: @bookmark_ranks %>
    </div>
  </div>

<h1 class="pt-6 text-4xl font-bold text-center text-slate-700">コメント数ランキング</h1>
  <div class="flex justify-center">
    <div class="grid grid-cols-1">
      <%= render 'keyboards/keyboard', keyboards: @comment_ranks %>
    </div>
  </div>

<h1 class="pt-6 text-4xl font-bold text-center text-slate-700">診断結果に表示された数ランキング</h1>
  <div class="flex justify-center">
    <div class="grid grid-cols-1">
      <%= render 'keyboards/keyboard', keyboards: @diagnosis_ranks %>
    </div>
  </div>
