<h1 class="pt-2 pb-2 text-2xl text-center">お気に入り数ランキング</h1>
<div class="text-blue-700">
  <% @bookmark_ranks.each do |bookmark| %>
    <li><%= bookmark.name %></li>
  <% end %>
</div>

<h1 class="pt-2 pb-2 text-2xl text-center">コメント数ランキング</h1>
<div class="text-blue-700">
  <% @comment_ranks.each do |comment| %>
    <li><%= comment.name %></li>
  <% end %>
</div>

<h1 class="pt-2 pb-2 text-2xl text-center">診断結果に表示された数ランキング</h1>
<div class="text-blue-700">
  <% @diagnosis_ranks.each do |diagnosis| %>
    <li><%= diagnosis.name %></li>
  <% end %>
</div>
