<!-- app/views/contacts/done.html.erb -->
<div class='overflow-scroll top-wrapper'>
  <div class="pt-6 pb-6">
    <div class="p-6 mx-auto bg-white rounded-lg shadow-lg max-w-screen-lg">
      <div class="flex justify-center mb-4 text-xl font-bold text-slate-600">
        <%= (t '.thanks') %>
      </div>
      <div class="flex justify-center mb-2">
        <%= link_to t('.top'), root_path, class: "text-lg border-2 border-red-500 rounded-lg text-red-500 shadow-lg hover:bg-red-500 hover:text-white text-center py-1 px-3 hover:border-transparent rounded" %>
      </div>
    </div>
  </div>
</div>
