<div class="pt-8 pb-8">
  <div class="p-6 mx-auto bg-white rounded-lg shadow-lg max-w-screen-lg">
    <div class="flex justify-center mb-4 text-xl font-bold text-slate-600">
      ありがとうございます。問い合わせ内容を送信しました。
    </div>
    <div class="flex justify-center mb-2">
      <%= link_to 'Top', root_path, class: "rounded mr-2 shadow-lg text-lg text-white bg-red-500 ml-2 hover:bg-red-600 px-2 py-1" %>
    </div>
  </div>
</div>
