.top-wrapper {
  background-image: image-url("images/sample.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: black;

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}

.login-wrapper {
  background-image: image-url("images/sample6.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
}

.diagnosis-wrapper {
  background-image: image-url("images/sample.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  /* ぼかしを適用 */
  backdrop-filter: blur(10px); /* ぼかしの半径を調整 */
  -webkit-backdrop-filter: blur(10px); /* Safari対応 */
}
