<div class="m-4">
  <div class="flex items-center w-full h-24 border rounded-lg shadow-lg h-fit border-slate-200 justify-left">
    <div class='flex m-2 justify-left'>
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize: '100') %>
      <% else %>
        <%= image_tag 'noimage.png', size: '80' %>
      <% end %>
    </div>
    <div class="flex flex-col p-2">
      <div class='flex mb-2 items-left'>
        <%= @user.name %>
      </div>
      <div class='flex items-center mb-2'>
        <%= @user.email %>
      </div>
    </div>
  </div>
</div>
