<div class="text-2xl font-semibold text-center text-orange-400 max-h-screen text-bold">
  <%= link_to admin_keyboards_path do %>
    サイドバー
  <% end %>
</div>
<ul class="py-5 text-lg font-medium space-y-2">
  <li>
    <%= link_to admin_keyboards_path, class: "flex hover:bg-blue-700 text-white items-center p-2 rounded-lg" do %>
      キーボード一覧
    <% end %>
  </li>
</ul>
